.footer-txt{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 110%;
    font-weight: 300;
    color: #CCC9C4;
}

.footer-block{
    padding: 0 20px;
    position: relative;
    @include md{
        &.with-line{
            &:after{
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 2px;
                height: 50%;
                background-color: #F5AF5F;
            }
        }
    }
}

.footer-logo{
    width: 178px;
    height: 26px;
}

.basement-stam{
    margin-top: 0;
    margin-bottom: 13px;
    padding: 0;
    height: 1px;
    width: 100%;
    border: none;
    background-color: #575754;
}

.foot-hr-line{
    margin-top: 32px;
    margin-bottom: 13px;
    padding: 0;
    height: 4px;
    width: 62px;
    border: none;
    background-color: #575754;
    @include l-md{
        &.foot-hr-right-low{
            justify-content: end;
            margin-top: 5px;
        }
        &.foot-hr-low{
            margin-top: 5px;
        }
        &.foot-hr-center{
            justify-content: center;
            margin-top: 5px;
        }
    }
}

.foot-title{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #CCC9C4;
    @include l-md{
        &.foot-align-right{
            text-align: end;
            justify-content: flex-end;
        }
    }
}

.footer-linko{
    font-family: "Helvetica Light", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #CCC9C4;
    display: flex;
    text-decoration: none;
    margin: 1px 0 11px 0;
    @include l-md{
        &.small-align-right{
            text-align: end;
            justify-content: flex-end;
        }
    }
    &:hover{
        text-decoration: none;
    }
}

.text-orange{
    color: #F5AF5F !important;
}

.text-small{
    font-size: 14px;
    font-weight: 300;
}

.messenger{
    max-width: 19px;
    max-height: 19px;
}

.messenger-hr-weight{
    position: absolute;
    height: 26px;
    width: 2px;
    background-color: #F5AF5F;
}

.messenger-hr-weight{
    padding: 0 1px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    &.with-line{
        &:after{
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            width: 1px;
            height: 50%;
            background-color: #F5AF5F;
        }
    }
}

.stamik-tg-inst-text{
    font-family: "Rubik-Regular", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #A0A09F;
}

.wrapper-footer{
    @include wrapper($width: 1200px);
}

.basement-stam-text{
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    line-height: 110%;
    font-weight: 300;
    color: #CCC9C4;
    &.basement-stam-text-big{
        font-size: 15px;
    }
}

.wide-bg-oliva{
    background-color: #E2E2D7;
    width: 100%;
    height: 100%;
}

.wide-bg-white{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.tehnologii-text{
    font-family: 'Proxima Nova Regular', serif;
    font-size: 18px;
    font-weight: 400;
    color: #414141;
    line-height: 1.4em;
}

.title-first-letter{
    font-family: 'Impact Regular', serif;
    font-size: 43px;
    &::first-letter{
        color: #FFA15E;
    }
    span{
        color: #FFA15E;
    }
    color: #414141;
}

.wrapper-1314{
    max-width: 1314px;
    width: 100%;
    margin: 0 auto !important;
}
@media only screen and (max-width: 1399px){
    .wrapper-1314{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 991px){
    .wrapper-1314{
        max-width: 100%;
    }
}

.wrapper-1218{
    max-width: 1218px;
    width: 100%;
    margin: 0 auto !important;
}

.wrapper-oliva{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    @include l-xl{
        padding-left: 10px;
        padding-right: 10px;
    }
    @include l-lg{
        max-width: 100%;
    }
}

.tehnologii-hover-image-scale{
    position: relative;
    overflow: hidden;
    width: 155px;
    height: 207px;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s ease-out;
    }
    &:hover{
        cursor: pointer;
        img{
            transform: scale(1.1);
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(gray, 0.5);
        }
    }
}

.tehnologii-block1-img{
    max-width: 1053px;
    max-height: 425px;
}

.tehnologii-block2-img{
    width: 100%;
    object-fit: cover;
    @include l-md{
        display: none;
    }
}

.block-3d-printing-description-gray-left{
    position: absolute;
    left: 0;
    transform: translatey(-300px);
    max-width: 911px;
    width: 50%;
    @include l-xl{
        width: 40%;
    }
    @include l-lg{
        width: 100%;
    }
    @include l-md{
        position: relative;
        transform: unset;
    }
    background-color: #F2F1F2;
    border-left: #C8C4C7 solid 38px;
}

.card-thumbnails{
    position: absolute;
    bottom: 0;
    right: 20px;
    margin-right: 90px;
    .card-thumbnails-content{
        display: flex;
        gap: 10px;
        @include l-md{
            gap: 5px;
        }
    }
    .card-thumbnails-description{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 100%;
        left: 0;
        padding: 5px;
        @include l-md{
            position: relative;
        }
    }
    @include l-md{
        position: relative;
        bottom: 0;
        right: 0;
        margin-right: 0;
    }
}

.tehnologii-3d-scaning{
    .minor-text{
        position: relative;
        font-size: 16px;
        display: flex;
    }
    .tehnologii-hover-image-scale{
        z-index: 5;
    }
    .tehnologii-3d-scaning-image{
        transform: translate(-100px, -50px);
        z-index: 0;
    }
}

.gray-triangle-boll{
    position: absolute;
    right: 100%;
    .vertical-triangle{
        border: 10px solid transparent;
        border-top: 25px solid #999997;
    }
    .orange-ball{
        text-align: center;
        background-color: #999997;
        height: 0.8em;
        width: 0.8em;
    }
}

.wide-to-right-gray-translucent-background{
    position: absolute;
    left: 0;
    width: 1000%;
    height: 100%;
    background-color: rgba(#CCC9C4, .37);
    z-index: 1;
}
