.footer-txt{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 110%;
    font-weight: 300;
    color: #CCC9C4;
}

.footer-block{
    padding: 0 20px;
    position: relative;
    @include md{
        &.with-line{
            &:after{
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 2px;
                height: 50%;
                background-color: #F5AF5F;
            }
        }
    }
}

.footer-logo{
    width: 178px;
    height: 26px;
}

.basement-stam{
    margin-top: 0;
    margin-bottom: 13px;
    padding: 0;
    height: 1px;
    width: 100%;
    border: none;
    background-color: #575754;
}

.foot-hr-line{
    margin-top: 32px;
    margin-bottom: 13px;
    padding: 0;
    height: 4px;
    width: 62px;
    border: none;
    background-color: #575754;
    @include l-md{
        &.foot-hr-right-low{
            justify-content: end;
            margin-top: 5px;
        }
        &.foot-hr-low{
            margin-top: 5px;
        }
        &.foot-hr-center{
            justify-content: center;
            margin-top: 5px;
        }
    }
}

.foot-title{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #CCC9C4;
    @include l-md{
        &.foot-align-right{
            text-align: end;
            justify-content: flex-end;
        }
    }
}

.footer-linko{
    font-family: "Helvetica Light", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #CCC9C4;
    display: flex;
    text-decoration: none;
    margin: 1px 0 11px 0;
    @include l-md{
        &.small-align-right{
            text-align: end;
            justify-content: flex-end;
        }
    }
    &:hover{
        text-decoration: none;
    }
}

.text-orange{
    color: #F5AF5F !important;
}

.text-small{
    font-size: 14px;
    font-weight: 300;
}

.messenger{
    max-width: 19px;
    max-height: 19px;
}

.messenger-hr-weight{
    position: absolute;
    height: 26px;
    width: 2px;
    background-color: #F5AF5F;
}

.messenger-hr-weight{
    padding: 0 1px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    &.with-line{
        &:after{
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            width: 1px;
            height: 50%;
            background-color: #F5AF5F;
        }
    }
}

.stamik-tg-inst-text{
    font-family: "Rubik-Regular", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #A0A09F;
}

.wrapper-footer{
    @include wrapper($width: 1200px);
}

.basement-stam-text{
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    line-height: 110%;
    font-weight: 300;
    color: #CCC9C4;
    &.basement-stam-text-big{
        font-size: 15px;
    }
}

.wide-bg-oliva{
    background-color: #E2E2D7;
    width: 100%;
    height: 100%;
}

.wide-bg-white{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.tehnologii-text {
    font-family: 'Proxima Nova Regular', serif;
    @extend .text-responsive-18;
    font-weight: 400;
    color: #414141;
    line-height: 1.4em;
    @include l-md {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.title-first-letter{
    font-family: 'Impact Regular', serif;
    font-size: 43px;
    &::first-letter{
        color: #FFA15E;
    }
    span{
        color: #FFA15E;
    }
    color: #414141;
    @include l-md{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.img-form-with-orange-detail{
    @include l-lg{
        width: 360px;
        height: auto;
    }
}

.line-forms-for-melters{
    width: 285px;
    border-bottom: 1px solid #696969;

}

.silicone-form{
    width: 100%;
    height: auto;
}

.wide-gray-block-silicone-form{
    background-color: #858581;
    width: 100%;
    color: #FFFFFF;

}


.wrapper-1314{
    max-width: 1314px;
    width: 100%;
    margin: 0 auto !important;
    @include l-xxl{
        .wrapper-1314{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @include l-lg{
        .wrapper-1314{
            max-width: 100%;
        }
    }
}

.wrapper-1218{
    max-width: 1218px;
    width: 100%;
    margin: 0 auto !important;
}

.wrapper-1168{
    max-width: 1168px;
    width: 100%;
    margin: 0 auto !important;
    background-color: #FFFFFF;
}

.wrapper-oliva{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    @include l-xl{
        padding-left: 10px;
        padding-right: 10px;
    }
    @include l-lg{
        max-width: 100%;
    }
}

.tehnologii-hover-image-scale{
    position: relative;
    overflow: hidden;
    width: 155px;
    height: 207px;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s ease-out;
    }
    &:hover{
        cursor: pointer;
        img{
            transform: scale(1.1);
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(gray, 0.5);
        }
    }
    @include l-lg{
        width: 100%;
    }
}

.tehnologii-block1-img{
    max-width: 1053px;
    max-height: 425px;
    @include l-md{
        width: 100%;
        //padding-right: 15px;
        //padding-left: 15px;
    }
}


.tehnologii-block2-img{
    width: 100%;
    object-fit: cover;
    @include l-md{
        display: none;
    }
}

.block-3d-printing-description-gray-left{
    position: absolute;
    left: 0;
    transform: translatey(-300px);
    max-width: 911px;
    width: 50%;
    @include l-xl{
        width: 40%;
    }
    @include l-lg{
        width: 100%;
    }
    @include l-md{
        position: relative;
        transform: unset;
    }
    background-color: #F2F1F2;
    border-left: #C8C4C7 solid 38px;
}

.card-thumbnails{
    position: absolute;
    &.block-3d-printing{
        bottom: 0;
        right: 20px;
        margin-right: 90px;
        @include l-md{
            position: relative;
            bottom: 0;
            right: 0;
            margin-right: 0;
        }
    }
    &.milling{
        position: relative;
        display: flex;
        justify-content: flex-end;
        bottom: 0;
        right: 0;
        margin-right: 0;
    }
    &.vacuum-forming{
        bottom: 0;
        right: 100%;
    }
}

.card-thumbnails-content{
    display: flex;
    gap: 10px;
    @include l-md{
        gap: 5px;
    }
}

.card-thumbnails-description{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    left: 0;
    padding: 5px;
    @include l-md{
        position: relative;
    }
}

.tehnologii-3d-scaning{
    .tehnologii-hover-image-scale{
        z-index: 5;
    }
    .tehnologii-3d-scaning-image{
        transform: translate(-100px, -50px);
        z-index: 0;
    }
}

.minor-text{
    position: relative;
    display: flex;
    font-family: 'Proxima Nova Regular', serif;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    line-height: 1.4em;
    @include l-lg{
        font-size: 17px;
        padding-left: 10px;
    }
}

.minor-text-small{
    position: relative;
    display: flex;
    font-family: 'Proxima Nova Regular', serif;
    font-size: 14px;
    font-weight: 400;
    color: #414141;
    line-height: 1.4em;
}


.img-minor-text{
    width: 17px;
    height: 42px;
}

.scaning-cameras-phone{
    width: 100%;
}

.gray-triangle-boll{
    position: absolute;
    right: 100%;
    .vertical-triangle{
        border: 10px solid transparent;
        border-top: 25px solid #999997;
    }
    .orange-ball{
        text-align: center;
        background-color: #999997;
        height: 0.8em;
        width: 0.8em;
    }
    &.vacuum-forming{
        position: relative;
        right: 0;
    }
}

$wide-to-right-gray-translucent: rgba(#CCC9C4, .37);
.wide-to-right-gray-translucent-background{
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $wide-to-right-gray-translucent;
    z-index: 1;
}

.shred-right{
    position: absolute;
    height: 100%;
    left: 100%;
    top: 0;
    background-color: $wide-to-right-gray-translucent;
    background-position: right;
}

.milling-background{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.milling-content{
    padding: 114px 0;
    left: 0;
    top: 0;
    overflow-y: hidden;
    background: url("/img/milling-cutter-and-chips(cut).webp") no-repeat top;
    background-size: cover;
}

.wide-gray-translucent-background{
    width: 100%;
    background-color: rgba(#FFFFFF, .82);
}

$wide-to-right-darkgray-translucent: #383A3C;
.injection-wide-darkgray{
    display:grid;
    grid-template-columns: 39% 61%;
    background-color: $wide-to-right-darkgray-translucent;
    .injection-wide-darkgray-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        img{
            object-fit: contain;
        }
    }
    .injection-wide-darkgray-content-text{
        font-family: 'Proxima Nova', serif;
        font-size: 18px;
        font-weight: 400;
        color: #CCC9C4;
        line-height: 1.4em;
        padding: 40px 0;
    }
    .wide-to-right-gray-translucent-background{
        background-color: $wide-to-right-darkgray-translucent;
    }
    .shred-right{
        background-color: $wide-to-right-darkgray-translucent;
    }
}

.detail-plastic-white-phone{
    width: 250px;
    height: auto;
    align-items: center;
}

.tehnologii-text-white{
    font-family: 'Proxima Nova', serif;
    font-size: 18px;
    font-weight: 400;
    color: #CCC9C4;
    line-height: 1.4em;
}

.vacuum-forming-block{
    display:grid;
    grid-template-columns: 37% 63%;
    font-family: 'Proxima Nova Regular', serif;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    line-height: 1.4em;
}

.vacuum-forming-wide-warm{
    display: flex;
    justify-content: center;
    width: 1090px;
    background-color: #D1CAC5;
    max-height: 448px;
    .vacuum-forming-wide-warm-img{
        height: 100%;
    }
}

.vacuum-forming-img-phone{
    width: 150px;
    height: auto;
}

.header-mobile-button{
    padding: 5px;
    color: white;
    border: rgba(white,0.6) solid 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px !important;
    height: 40px !important;
    text-decoration: none;
    background: rgba(white,0.1);
    outline: none;
    transition: all 0.15s ease-in-out;
    &:hover{
        background: rgba(white,0.3);
        border-color: white;
    }
    &:active{
        background: rgba(white,0.3);
        border-color: white;
    }
    //@include  l-md{
    //    width: 25px !important;
    //    height: 25px !important;
    //}
}

.kontakty-container{
    @extend .wrapper-1168;
    @include l-xxl{
        padding: 0 50px !important;
    }
}
.kontakty{
    @extend .wrapper-1168;
    background: transparent;
    @include l-xxl{
        padding: 0 50px !important;
    }
    @include l-md{
        padding: 0 !important;
    }
}

.kontakty-map{
    width: 100%;
    height: 100%;
}

.kontakty-content{
    display: flex;
    padding: 25px 100px;
    font-family: 'Proxima Nova Regular', serif;
    font-size: 10px;
    font-weight: 400;
    color: #424242;
    .kontakty-content-phone{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a{
            font-weight: bold;
            text-decoration: none;
            color: unset;
        }
    }
    @include l-md{
        flex-direction: column;
        padding: 25px;
        row-gap: 50px;
    }
}
