@include md{
    .dropdown{
        &.wm-dropdown:hover{
            .dropdown-menu {
                display: block;
                margin-top: 0; // remove the gap so it doesn't close
            }
        }
        .dropdown-item{
            transition: $defaultTransition;
            font-size: 14px;
        }
        .dropdown-item:hover{
            background: rgba(white, 0.3);
            color: #FFFFFF;
        }
        .dropdown-menu{
            background-color: rgba($bg, 0.85);
            min-width: 100%;
            left:50%;
            transform: translateY(2px) translateX(-50%);
        }
    }
}
.modal-content{
    background-color: $bg;
    color: white;
}
