
@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    src: local("Bebas Neue Pro"),
    url("/webfonts/BebasNeuePro-Middle.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Bebas Neue";
    font-style: italic;
    src: local("Bebas Neue Pro"),
    url("/webfonts/BebasNeuePro-MiddleItalic.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    src: local("Bebas Neue Pro"),
    url("/webfonts/BebasNeuePro-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Bebas Neue";
    font-style: italic;
    src: local("Bebas Neue Pro"),
    url("/webfonts/BebasNeuePro-Italic.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    src: local("Bebas Neue Pro"),
    url("/webfonts/BebasNeuePro-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Bebas Neue";
    font-style: italic;
    src: local("Bebas Neue Pro"),
    url("/webfonts/BebasNeuePro-BoldItalic.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Helvetica Light";
    font-style: normal;
    src:
        url("/webfonts/helvetica-light.woff") format("woff"),
        url("/webfonts/helvetica_light.otf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: "Helvetica";
    font-style: normal;
    src: url("/webfonts/helvetica.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Rubik-Regular";
    font-style: normal;
    src: url("/webfonts/Rubik-Regular.ttf") format("ttf");
    font-weight: 400;
}

.font-bebas{
    font-family: "Bebas Neue", "Jost", sans-serif !important;
}
.font-roboto{
    font-family: "Roboto", "Jost", "Arial", sans-serif !important;
}

.font-light{ font-weight: 300 !important; }
.font-regular{ font-weight: 400 !important; }
.font-medium{ font-weight: 500 !important; }
.font-bold{ font-weight: 700 !important; }
