*,*:before, *:after{
    box-sizing: border-box;
}

html{
    max-width: 100%;
    width: 100%;
    scroll-behavior: smooth;
    //overflow-x: hidden;
    //overflow-y: overlay;
    //scrollbar-gutter: stable;
}

body{
    position: relative;
    @include scrollable(5px);
    @extend .text-responsive-16;
    font-family: $defaultFont;
    //font-family: $defaultFont2;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    //overflow-x: hidden;
}

.main{
    //margin-top: $headerHeightPC;
    flex-grow: 1;
    @include l-md{
        //margin-top: $headerHeightMobile;
    }
    background-color: $bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    @include l-md{
        padding-top: 50px;
    }
}

.header{
    width: 100% !important;
    display: block;
    background-color: $bg;
    color: white;

    @include ui-shadow-small;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    .header-content{
        backdrop-filter: blur(5px);
        color: white;
        display: none;
        //margin-bottom: 20px;
        @include md{
            display: block;
        }
    }
    .header-mobile{
        @include md{
            display: none;
        }

    }
}

.header-content{
    backdrop-filter: blur(5px);
    color: white;
    display: none;
    //margin-bottom: 20px;
    @include md{
        display: block;
    }
}

.header-mobile{
    @include md{
        display: none;
    }

}

.header-mobile-side-menu{
    z-index: 1500;
    transition: $defaultTransition;
    position: fixed;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: white !important;
    @supports (backdrop-filter: blur(5px)) {
        background: $sideMenuBg !important;
        backdrop-filter: blur(5px);
    }
    color: $sideMenuTextColor !important;
    display: flex;
    justify-content: end;
    &.show{
        right: 0;
    }
    .header-mobile-content{
        display: flex;
        flex-direction: column;
        transition: $defaultTransition;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
    }
    .header-mobile-link{
        display: block;
        padding: 10px 0;
        margin: 10px 10px;
        text-decoration: none;
        color: $sideMenuLinkColor;
        &:hover{
            color: $sideMenuLinkHoverColor;
        }
        &:active{
            color: $sideMenuLinkActiveColor;
        }
    }
}

.header-link{
     text-transform: uppercase;
     position: relative;
     color: white;
     text-decoration: none;
     display: block;
     padding: 5px .5rem;
     transition: $defaultTransition;
     @extend .font-bebas;
     font-size: 18px;
     background: transparent;
     border: unset;
     outline: none;
     &:before{
         position: absolute;
         top:100%;
         left: .5rem;
         transform: translateY(-50%);
         width: 0;
         height: 4px;
         border-radius: 999px;
         content:'';
         transition: $defaultTransition;
         background: white;
     }
     &:hover{
         &:before{
             width: 75%;
         }
         color: white;
     }
     @include l-md{
         border: unset;
     }
     &:not(:last-child){
         //border-right: lightgrey 1px solid !important;
     }
 }

.footer{
    background-color: $bg;
    max-width: 100%;
    overflow: hidden;
    .footer-delimiter{
        margin: 0;
    }
    .footer-content{
    }
    .footer-payment-image img{
        height: 20px;
        object-fit: contain;
    }
    .footer-link{
        @extend .font-bebas;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: $lightText;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        &:hover, &:active{
            color: #838383;
            text-decoration: underline;
        }
        @include l-md{
            font-size: 14px;
            font-weight: normal;
        }
        &.footer-link-light{
            @extend .font-roboto;
            font-weight: normal;
            color: lightgray;
            font-size: 14px;
            text-transform: unset;
        }
    }
}

@keyframes transitional-text-animation-h {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 100%;
        transform: unset;
    }
}

.transitional-text{
    opacity: 0;
    animation-name: transitional-text-animation-h;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.carousel-item{
    .carousel-transitional-text{
        @extend .transitional-text;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }
    &.active, &.carousel-item-start, &.carousel-item-end{
        .carousel-transitional-text{
            animation-direction: normal;
            animation-fill-mode: forwards;
        }
    }
}

.carousel-control-next, .carousel-control-prev {
    top: unset;
    bottom: 20%;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0;
    color: #fff;
    background: rgba(white, 0.5);
    border-radius: 5px;
    border: solid 2px rgba(white, 0.8);
    margin: 0 20px;
    @supports (backdrop-filter: blur(5px)) {
        backdrop-filter: blur(5px);
    }
    &:hover{
        border: solid 2px white;
    }
}

.ui-default-link{
    transition: $defaultTransition;
    color: #d2d2d2;
    border: unset;
    outline: none;
    background: transparent;
    text-decoration: underline;
    //display: inline-block;
    padding: 0;
    &:hover{
        color: #ffffff;
        text-decoration: none;
    }
    &.ui-default-link-white{
        color: white;
        &:hover{
            color: #efefef;
        }
    }
    &.ui-default-link-red{
        color: #C52300;
        &:hover{
            color: #ce4e2e;
        }
    }
    &.ui-default-link-blue{
        color: #004375;
        &:hover{
            color: #126caf;
        }
    }
}

.ui-collapse{
    //background: #F8F8F8;
    padding: 16px 20px 16px 40px;
    .ui-collapse-header{
        display: flex;
        gap: 1rem;
        border: unset;
        outline: none;
        background: transparent;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #F8F8F8;
        .ui-collapse-img{
            transition: all 0.2s ease-in-out;
            transform: rotate(180deg);
        }
        &.collapsed{
            .ui-collapse-img{
                transform: rotate(0deg);
            }
        }
    }
    .ui-collapse-content{
        //padding: 10px;
        padding-left: 40px;
        font-size: 16px;
    }
    @include l-md{
        padding: 10px 20px;
        .ui-collapse-header{
            font-size: 16px;
        }
        .ui-collapse-content{
            font-size: 13px;
        }
    }
}



@keyframes animate-blur {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: -15px 6px;
    }
    50% {
        background-position: -6px -15px;
    }
    80% {
        background-position: -3px -8px;
    }
    100% {
        background-position: -15px 3px;
    }
}
.logo-animate-blur{
    animation-name: animate-blur;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    &:hover{
    }
}


.price-block-content{
    padding: 25px 80px;
    @include l-lg{
        padding: 20px 50px;
    }
    @include l-md{
        padding: 10px 10px;
    }

}
.price-block{
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)) no-repeat;
    //background-position: center !important;
    background-repeat: no-repeat !important;
    border: 2px solid rgba(white, 0.5);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 20;
}
.price-block-general{
    position: relative;
    z-index: 30;

}
.price-block-additional{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 50;
    top: 0;
    left: -100%;
    transition: left 0.15s ease-in-out;
    height: 100%;
    width: 100%;
    background: rgba(black, 0.6);
    backdrop-filter: blur(5px);
    &.price-block-show{
        left: 0;
    }
    @include l-md{
        justify-content: flex-start;
    }
}
.striken{
    position: relative;
    &:after{
        background: $ui-red-color;
        width: 90%;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%) rotate(-10deg);
        content:'';
        display: block;
    }
}


.floating-bar{
    display:flex;
    gap:10px;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    bottom:20px;
    right:20px;
    &:hover{
        .fbb-hidden{
            display: flex;
        }
    }
}

.floating-bar-button{
    @include floating-bar-button($color:#0C5D7C);
    &.fbb-telegram{
        @include floating-bar-button($color:#0088cc);
    }
    &.fbb-whatsapp{
        @include floating-bar-button($color:#128c7e);
    }
    &.fbb-hidden{
        display: none;
        @include l-md{
            display: flex;
        }
    }
}
.ui-input{
    padding: 10px 20px;
    border: darkgray 1px solid;
    border-radius: 6px;
    color: #1a1d20;
    transition: $defaultTransition;
    outline: none;
    &:focus{
        border-color: #0C5D7C;
    }
    &::placeholder{
        color:darkgray;
    }
    &.ui-input-error{
        border-color: darkred;
    }
}
.ui-btn{
    padding: 10px 20px;
    //border: $ui-color 1px solid;
    border: #70757B 1px solid;
    border-radius: 6px;
    display: inline-block;
    //color: $ui-color;
    color: white;
    transition: $defaultTransition;
    outline: none;
    font-size: 14px;
    background: white ;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    &:hover{
        //border-color: $ui-hover-color;
        border-color: #70757B;
        color: $ui-hover-color;
    }
    &:active{
        //border-color: $ui-active-color;
        border-color: #70757B;
        color: $ui-active-color;
    }
    &.ui-btn-small{
        padding: 5px 20px !important;
    }

    &.ui-btn-filled{
        background: $ui-color;
        border-color: $ui-color;
        color: white;
        &:hover{
            //border-color: $ui-hover-color;
            border-color: #70757B;
            background: $ui-hover-color;
            color: white;
        }
        &:active{
            //border-color: $ui-active-color;
            border-color: #70757B;
            background: $ui-active-color;
            color: white;
        }
    }

    &.ui-btn-red{
        border-color: $ui-red-color;
        color: $ui-red-color;
        &:hover{
            border-color: $ui-red-hover-color;
            color: $ui-red-hover-color;
        }
        &:active{
            border-color: $ui-red-active-color;
            color: $ui-red-active-color;
        }
    }

    &.ui-btn-white{
        border-color: white;
        color: white;
        background: rgba(white, 0.1);
        &:hover{
            border-color: lightgray;
            color: lightgray;
        }
        &:active{
            border-color: darkgray;
            color: darkgray;
        }
    }

    &.ui-btn-index{
        border-color: white;
        color: white;
        background: transparent;
        border-radius: 0;
        padding: 16px 50px;
        &:hover{
            border-color: lightgray;
            color: lightgray;
        }
        &:active{
            border-color: darkgray;
            color: darkgray;
        }
    }

    &.ui-btn-price{
        background: white;
        color: $bg;
        border-color: $bg;
        padding: 10px 50px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        &:hover{
            background: $ui-color;
            color: white;
        }
        &:active{
            border-color: rgba($ui-color, 0.7);
            background: rgba($ui-color, 0.7);
            color: white;
        }
    }
}
